@font-face {
    font-family: "NanumGothic";
    src: url("../fonts/NanumGothic.otf");
    font-weight: normal;
}

@font-face {
    font-family: "NanumGothicBold";
    src: url("../fonts/NanumGothicBold.otf");
    font-weight: normal;
}

@font-face {
    font-family: "NanumGothicExtraBold";
    src: url("../fonts/NanumGothicExtraBold.otf");
    font-weight: normal;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 홍준 추가 */
}

header {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px;
}

.container_main {
   text-align: center;
   padding-top: 50px;           /* 홍준 수정 : margin -> padding */
   height: calc(100vh - 68px);  /* 홍준 추가 */
   overflow-y: scroll;          /* 홍준 추가 */
}

img {
    max-width: 200px;
    height: auto;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px 0;
}

.adminPage {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기본 텍스트 색상 상속 */
}

/* 방문한 링크 스타일 비활성화 */
a:visited {
    color: inherit; /* 방문한 링크의 색상을 기본 텍스트 색상으로 상속 */
}

.container_gameMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.container_court {
    margin: 10px;
}

.container_court_button{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.game_court_image{
    max-width: 300px;
    height: auto;
}

.btn{
    margin: 5px 5px 3px 0px;       /* 홍준 수정 : 왼쪽 마진 제거 */
    font-weight: bold;
    font-size: 14px;    /* 홍준 추가 */
}

.container_court_playground {
    position: relative; /* 상대 위치 설정 */
    width: max-content; /* 컨테이너의 크기는 내용에 맞게 조절 */
}

.container_court_playGround_player {
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 위에서 50% 위치에 배치 */
    left: 50%; /* 왼쪽에서 50% 위치에 배치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    border-collapse: separate; /* 테두리 합치지 않음 */
}

.container_court_playGround_player td {
    margin: 30px; /* 원하는 마진 값 설정 */
    text-align: center; /* 가운데 정렬 */
    vertical-align: middle; /* 수직 가운데 정렬 추가 */
}

.player {
    /*border: 1px solid black;*/
    background-color:rgb(49,227,203);
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex; /* Flexbox를 사용하여 수평 및 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin:10px;
    cursor: pointer; /* 커서를 포인터로 변경 */
    transition: background-color 0.3s ease; /* 배경색 변경 애니메이션 */
}
.player:hover{
    background-color: rgb(26,192,168); /* 마우스 오버시 배경색 어둡게 변경 */
}
.table>:not(caption)>*>*{
    padding:0px; !important
}
#playerTabulator {
        height: 300px; /* 테이블 창의 고정된 높이를 설정하세요 */
        /*overflow-y: scroll;수직 스크롤바 표시 */
}

/*2024-01-01 tabulator 건 추가 */
/* scroll */
::-webkit-scrollbar {
    width: 8px;
    margin: 2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(212, 212, 212);
  }

::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    border-radius: 5px;
}

/* search */
.search-container {
    margin-top: 20px;
}

#searchArea {
    padding: 5px 8px;
    margin-right: 7px;
    width: 240px;
    border: 1px solid #333;
    border-radius: 5px;
    outline: none;
}

#btnSearch {
    background-color: #333;
    color: #fff;
}

/* tabulator container */
.tabulator-container {
    width: 50vw;
    min-width: 720px;
    margin: 20px auto;
}

/* tabulator box */
.tabulator {
    border-radius: 5px;
    overflow: hidden;
}

.tabulator .tabulator-tableholder {
    overflow: hidden;   /* 스크롤 보이게 할 거면 overflow-y: scroll; */
}

.tabulator .tabulator-tableholder::-webkit-scrollbar {
    width: 10px;
}

/* tabulator header */
.tabulator-header * {
    background-color: #333 !important;
    color: #fff;
}

.tabulator-col-content {
    padding-left: 20px !important;
    background-color: #333 !important;
}

/* tabulator cell */
.tabulator-cell {
    padding-left: 20px !important;
    font-size: 17px;
    line-height: 42px;
}

/* tabulator footer */
.tabulator .tabulator-footer {
    padding: 7px 0 10px 0;
    background-color: #fff !important;
    border-top: none !important;
}

.tabulator-paginator {
    text-align: center !important;
}

.tabulator .tabulator-footer .tabulator-page.active {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.tabulator .tabulator-footer .tabulator-page:not(.disabled):hover {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #333;
}

/* modal */
.modal-dialog {
    max-width: 700px !important;
}

.modal-header {
    padding: 20px;
}

.modal h1 {
    margin-top: 0;
    font-weight: bold;
}

.modal .tabulator .tabulator-tableholder {
    overflow-y: scroll;
}

