<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BGMS - Badminton game matching system</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"  />

    <!--부트스트랩-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!--tabulaor-->
    <link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>

    <!--공통css-->
    <link rel="stylesheet" type="text/css" href="/css/common.css">

    <!--페이지js-->
    <script type="text/javascript" src="/js/gameMatch.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

</head>
<body class="body">
    <header>
        <button class="adminPage" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="gameMatch.viewPlayer()">플레이어 확인</button>
        <button class="adminPage" onclick= common.goPage("/attendance")>출석 체크</button>
        <button class="adminPage" onclick=common.goPage("/addGuest")>게스트 추가</button>
    </header>

    <!--모달-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">플레이어 확인</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="playerTabulator" class="table"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!--모달end-->

    <!--코트 추가/삭제 버튼영역 -->
    <div class="court-handle-button">
        <button class="btn btn-primary" onclick="gameMatch.addCourt();">코트추가&nbsp;<img src="/images/plus.png" class="court_add_image" alt="코트추가버튼"></button>
    </div>
    <!--코트 추가/삭제 버튼영역 end -->

    <!--코트 영역 -->
    <div class="container_gameMatch">

    </div>
    <!--코트 영역 end -->
</body>
</html>